@import "styles/responsive.scss";

.banner {
    position: relative;
    height: 95vh;
    padding: 28px 0 78px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-image: url("/src/assets/images/banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        filter: brightness(0.5);
        z-index: -1;
    }

    @include tablet {
        padding-top: 0;
    }
}

.bannerContent {
    margin: 17vh 0;
    display: flex;
    align-items: end;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
        align-items: start;
        margin: 6vh 0;
    }
}

.title {
    h1 {
        line-height: 104px;
        font-size: 4.8em;
        color: #fff;
        margin-bottom: 24px;
        font-weight: 500;

        @include desktop {
            line-height: 82px;
            font-size: 3.5em;
            margin-bottom: 12px;
        }

        @include tablet {
            line-height: 64px;
            font-size: 3em;
            margin-bottom: 12px;
        }

        @include mobile-lg {
            line-height: 44px;
            font-size: 2em;
            margin-bottom: 12px;
        }
    }

    h3 {
        font-size: 1.2em;
        color: #fff;

        @include tablet {
            line-height: 22px;
            font-size: 0.8em;
            margin-bottom: 26px;
        }
    }
}

.advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
        gap: 16px;
        flex-direction: column;
    }
}

.advantageCard {
    width: 400px;
    padding: 24px 0;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(16px) brightness(1.2);

    @include desktop {
        padding: 20px 0;
        width: 32%;
    }

    @include tablet {
        padding: 20px 0;
        width: 100%;
    }
}

.advantageText {
    vertical-align: super;
    color: #fff;
    font-size: 1em;

    @include desktop {
        font-size: 0.8em;
    }

    @include tablet {
        font-size: 0.8em;
    }
}

.metrics {
    margin-right: 16px;
    color: #fff;
    font-size: 2em;
    font-weight: 500;

    @include desktop {
        margin-right: 6px;
        font-size: 1.6em;
    }

    @include tablet {
        font-size: 1.6em;
    }
}