.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .dot1,
    .dot2,
    .dot3 {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #333;
        margin: 0 5px;
        animation: bounce 1s infinite;
    }

    .dot2 {
        animation-delay: 0.2s;
    }

    .dot3 {
        animation-delay: 0.4s;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-15px);
        }
    }
}