.contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.contact {
    position: relative;
    height: 282px;
    padding: 32px 24px;
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    border-radius: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        border-color: #F09937;
    }
}

.info {
    font-size: 1.2em;
    line-height: 32px;
    margin-top: 40px;
}

.title {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1em;
    font-weight: 500;
    color: #818181;
}