header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0 24px !important;
}

.logoWrapper {}

.logo {}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.navItem {

    >a,
    .dropdownTarget {
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        color: #000;
        transition: color 0.3s ease-in-out;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -4px;
            max-width: 0;
            width: 100%;
            left: 0;
            height: 3px;
            background-color: #F09937;
            transition: max-width 0.3s ease-in-out;
        }
    }

    :global(a.active) {
        &::after {
            max-width: 100%;
        }
    }

    &:hover {

        >a,
        .dropdownTarget {
            &::after {
                max-width: 100%;
            }
        }
    }
}

.isMainPage {
    .navItem {

        a,
        .dropdownTarget {
            color: #fff;
        }
    }
}