.breadcrumbs {
    color: #fff;
    font-size: 1em;
    margin-bottom: 32px;

}

.separator {
    padding: 0 20px;
    
    svg {
        transform: rotate(45deg);
        width: 10px;
        height: 10px;

        path {
            stroke: #fff
        }
    }
}