@import "styles/responsive.scss";

.title {
    font-size: 2.8em;
    font-weight: 500;
    margin-bottom: 40px;

    @include tablet {
        font-size: 1.6em;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;

    @include tablet {
        display: flex;
        flex-direction: column;
    }
}