.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  pointer-events: none;
  position: absolute;
  top: 24px;
  left: 25px;
  font-size: 20px;
  color: #818181;
  transition: all 0.3s ease-in-out;
}

.input {
  padding: 12px 24px 0;
  border: 1px solid #f09937;
  border-radius: 8px;
  font-size: 20px;
  height: 78px;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &:focus-visible {
    outline: none;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(240, 153, 55, 0.4);
    box-shadow: 0px 0px 10px 2px rgba(240, 153, 55, 0.4);
  }

  &:focus-visible+label,
  &:not(:placeholder-shown)+label {
    top: 10px;
    font-size: 16px;
  }
}

.input.invalid {
  border: 1px solid #f5291d;

  &:focus-visible {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(245, 41, 29, 0.4);
    box-shadow: 0px 0px 10px 2px rgba(245, 41, 29, 0.4);
  }
}

.error {
  padding-left: 24px;
  font-size: 14px;
  color: #f5291d;
}