.modal {}

.title {
    color: #1F1B1B;
    font-weight: 500;
    font-size: 2em;
    line-height: 56px;
    margin-bottom: 4px;
    margin-top: -32px;
}

.subtitle {
    color: #818181;
    font-size: 0.8em;
    line-height: 19px;
    margin-bottom: 32px;
}

.formInput {
    margin-bottom: 16px;
}