.modal {}

.title {
    color: #1F1B1B;
    font-weight: 500;
    font-size: 2em;
    line-height: 56px;
    margin-bottom: 4px;
    margin-top: -32px;
}

.subtitle {
    color: #818181;
    font-size: 0.8em;
    line-height: 19px;
    margin-bottom: 32px;
}

.formInput {
    margin-bottom: 16px;
}

.onlineNetworks {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.network {
    cursor: pointer;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: grayscale(0);
    }

    &.activeNetwork {
        filter: grayscale(0);
    }
}

.privacyLabel {
    width: 500px;
    font-size: 0.8em;

    a {
        color: #0000ff;
        text-decoration: underline;
    }
}