.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;

}

:global(.react-viewer-attribute) {
    font-size: 20px !important;
    font-weight: 500;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:global(.react-viewer-showTotal) {
    float: none
}

.galleryItem {
    background-color: #f0f0f0;
    padding-bottom: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.31);
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-1,
    &-2,
    &-3,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10,
    &-11,
    &-0 {
        grid-column: span 1;
        grid-row: span 1;
    }

    &-4,
    &-8 {
        grid-column: span 2;
        grid-row: span 2;
    }

}