.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2.8em;
    font-weight: 500;
    margin-bottom: 40px;
}

.review {
    background-color: #F7F7F7;
    border-radius: 16px;
    padding: 32px 24px;
    height: 375px;
}

.name {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 24px;
}

.text {
    font-size: 1em;
    font-weight: 500;
}

.serviceItem {
    padding: 24px;
    background-color: #F7F7F7;
    border-radius: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10%;
}

.serviceName {
    font-size: 1.2em;
    color: #1F1B1B;
}

.servicePrice {
    font-size: 1.2em;
    font-weight: 500;
    white-space: nowrap;
}