.headingsUnderline {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-decoration: solid underline #000 3px;
    }
}

.zoomIn {
    transform: scale(1.3);
}

.zoomOut {
    transform: scale(0.7);
}

.linksUnderline {
    a {
        text-decoration: solid underline #000 3px;
    }
}

.lightContrast {

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li {
        filter: drop-shadow(0 0 1px black);
    }
}

.grey {

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li {
        filter: drop-shadow(0 0 1px black);
    }
}