@import "styles/responsive.scss";

.footer {}

.info {
    display: flex;
    align-items: start;
    gap: 20px;
    background-color: #F09937;
    border-radius: 16px;
    padding: 50px 90px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;

    @include tablet {
        padding: 48px;
        font-size: 0.8em;
        flex-direction: column;
    }

    @include mobile-sm {
        padding: 16px;
    }
}

.legal {
    width: 60%;

    p {
        margin-bottom: 20px;
    }

    @include tablet {
        width: 100%;
    }
}

.docs {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        text-decoration: underline;
    }
}

.contactsTitle {
    font-weight: 400;
    font-size: 0.8em;
    margin: 32px 0 12px;

    &:first-child {
        margin-top: 0;
    }

    @include tablet {
        font-size: 1em;

        &:first-child {
            margin-top: 32px;
        }
    }
}

.bottom {
    padding: 20px 90px 22px;
    font-size: 1em;
    font-weight: 500;
    color: #484848;
    display: flex;
    align-items: center;

    @include tablet {
        padding: 16px 0;
        font-size: 0.8em;
        flex-direction: column;
    }
}

.logoWrapper {
    margin-right: 30px;

    @include tablet {
        margin: 0 auto;
    }
}

.privacyPolicy {
    margin-left: auto;
    white-space: nowrap;

    @include tablet {
        margin: 0 auto;
    }

    &:visited {
        color: #484848;
    }
}